<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add event page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{../css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="danger">
        <a th:href="@{/AdminMenu}"><h3><--</h3></a>
        <h2>Add Event</h2>
      </div>

      <div class="formInputEvent">
        <form th:object="${eventIn}" method="post" th:action="@{/AddEvent}" class="formEvent">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" name="nameEvent" required="true" />
                <label class="form-label" for="form6Example1">Event name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="date" id="form6Example2" class="form-control" placeholder="14.12.2022 (dd.mm.yyy)" name="datum" required="true" />
                <label class="form-label" for="form6Example2">Date</label>
              </div>
            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control"  name="urlPhoto" required/>
            <label class="form-label" for="form6Example3">Url image</label>
          </div>
        
          <div class="form-outline mb-4">
            <select th:field="*{lokacijaid}" name="lokacijaid">
              <option th:each=" lokacija : ${locations}" th:text="${lokacija.nameLocation}" th:value="${lokacija.Locationid}">
            </select>
        </div>
        
          <div class="form-outline mb-4">
            <select th:field="*{kategorijaid}" name="kategorijaid">
              <option th:each=" kategorija : ${category}" th:text="${kategorija.nameCategory}" th:value="${kategorija.Categoryid}">
            </select>
        </div>
       


          <div class="form-outline mb-4">
            <textarea class="form-control" id="form6Example7" rows="4" name="opis"></textarea>
            <label class="form-label" for="form6Example7">Description</label>
          </div>
      
          <button type="submit" class="btn btn-danger btn-block mb-4">Save</button>
        </form>

    </div>
</body>
</html>